@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/helveticaneue-thin-webfont.eot');
    src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
  background: url(../img/bg.jpg) no-repeat center center fixed;
  background-size: cover;
  font-size: 14px;
  font-family: "Helvetica Neue", Tahoma, sans-serif;
  color: #fff;
}



.header{
	height: 35px;
	background: url('../img/header.jpg');
  background-repeat:repeat-x;
}

/*MENU*/

.menu {
  display: inline-block;
  margin-left: -40px;
  padding-left: calc(76% - 460px) ;
  min-width: 690px;
}

.menu li {
  display: block;
  float: left;
}

.menu li a {
  color: #60b5ed;
  font-size: 14px;
  text-decoration: none;
  line-height: 35px;
  padding: 0 10px;
  float: right;
}

.menu li a:hover {
  background-color: #4eabda;
  color: #f0f0f0;
}

#offers {
    display: inline-block;
}

#offers a {
    float: right;
    text-decoration: none;
    padding: 5px 10px 0 8px;
    line-height: 25px;
    color: #fff;
    letter-spacing: 0.5px;
}

#offers a:before {
    content: '';
    display: block;
    float: left;
    width: 25px;
    height: 30px;
    padding: 0 14px;
    background: url('../img/flag.png') no-repeat;
}

#login {
    display: block;
    float: right;
    line-height: 33px;
    padding: 0 10px;
    text-indent: 5px;
    border: 1px #489cd5 solid;
	  background: #51b1dd;
    background: -moz-linear-gradient(top, #51b1dd 0%, #2f7ac5 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #51b1dd), color-stop(100%, #2f7ac5));
    background: -webkit-linear-gradient(top, #51b1dd 0%, #2f7ac5 100%);
    background: -o-linear-gradient(top, #51b1dd 0%, #2f7ac5 100%);
    background: -ms-linear-gradient(top, #51b1dd 0%, #2f7ac5 100%);
    background: linear-gradient(to bottom, #51b1dd 0%, #2f7ac5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51b1dd', endColorstr='#2f7ac5', GradientType=0 );
}

#login a {
    color: #fff;
    font-size: 14px;
    text-decoration: underline;
    line-height: 14px;
    padding: 0 5px;
    float: none;
}


/*MENU END*/

/*FORM*/

.content{
	width: 560px;
	height: 600px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  background: rgba(0, 0, 0, 0.6);
  color: #ccc;

}
.line{
	width:117px;
	margin: 5px 0;
	display: inline-block;
  box-shadow: 0 1px 1px 0 #000;
}
.ou {
  padding: 15px 0;
}
.ou hr {
  border: none;
  color: #666;
  background-color: #666;
  height: 1px;
}
.ou span{
  text-decoration: none;
}

form {
    width: 560px;
    margin: auto;
    text-align: center;
}

form > button, form > div, form > p, form > input, form > label {
    width: 276px;
    color: #ccc;
    margin: 8px auto;
    padding: 0 0;
}

form h1 {
  margin: 30px auto;
    font-size: 24px;
}

form > input {
    line-height: 36px;
    background: #100f0f;
    border: none;
    border-bottom: 1px solid #484847;
    padding: 0 15px;
    width: 250px;
}

input[type="checkbox"] {
    margin: 3px 3px 3px -15px;
}

input:focus {
    background: #1b5288;
    box-shadow: #699bcd 0 0 10px 3px;
}

#fbLogin {
  background: url('../img/fb.png') no-repeat;
  height: 35px;
  border: none;
  margin: 30px auto 5px;
}

button[type="submit"] {
  padding: 5px;
  width: 140px;
  background: #50aedb;
    background: -moz-linear-gradient(top,  #50aedb 0%, #2e7ac4 100%);
    background: -webkit-linear-gradient(top,  #50aedb 0%,#2e7ac4 100%);
    background: linear-gradient(to bottom,  #50aedb 0%,#2e7ac4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50aedb', endColorstr='#2e7ac4',GradientType=0 );
  border: none;
  line-height: 26px;
  border-radius: 3px;
}


/*END OF FORM*/

footer {
  padding: 10px 0;
	font-size: 11px;
  line-height: 16px;
}
